.divPrincipalAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.h1 {
    font-size: 25px;
    text-align: center;
}
.subtitulos {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}
.divSecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parrafo {
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
}
.cv {
    padding: 5px;
    border: 1px solid black;
    width: fit-content;
    margin: 0px auto;
    margin-top: 30px;
}
.alkemy {
    text-decoration: underline;
}
.divSeccionTecnologia {
    display: flex;
    flex-direction: column;
}
.divTecnologias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    gap: 20px;
}
.divDivTecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media all and (min-width:1000px) {
    .divPrincipalAbout {
        height: 83vh;
    }
    .divAbout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}