.divPrincipal {
    background-image: url(/assets/images/space.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.divAnimacion {
    padding: 15px;
}
.hola {
    color: white;
    font-size: 22px;
    font-weight: 900;
}
.nombre, .especialidad {
    font-weight: 900;
    font-size: 22px;
    color: white;
    margin: 0;
    animation-name: slidein;
    z-index: 1;
}
.nombre {
    animation-duration: 3s;
}
.especialidad {
    animation-name: slideout;
    animation-duration: 3s;
}
@keyframes slidein {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 0%;
    }
}
@keyframes slideout {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0%;
    }
  }
@media screen and (min-width:500px) {
    .hola, .nombre, .especialidad {
        font-size: 30px;
    }
}