.header {
    background-color: transparent;
    height: 50px;
}
.divBtnHamburguesa {
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 14;
}
.btnHamburguesa {
    filter: invert(1);
    background-color: transparent;
}
.btnHamburguesaSinMain {
    filter:invert(0.5);
}
.nav {
    background-color: black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    width: 100%;
    top: 10px;
    transition: top 0.5s ease;
    z-index: 13;
    border-bottom: thin solid rgb(202, 202, 202);
}
.navSinMain {
    
    background-color: white;
    top: 10px;
    left: 0px;
    border-left: 10px solid black;
    border-right: 10px solid black;
}
.navDisapeard {
    top: -1000px;
    transition: top 0.5s ease-in;
}
.divLink {
    
}
.link {
    color: white;
    opacity: 0.6;
    font-weight:300;
    font-size: 14px;
}
.link:hover {
    font-weight: 500;
    opacity: 1;
}
.linkSinMain {
    color:black;
}
.linkSinMain:hover {
    font-weight: 500;
    opacity: 1;
}
.spanBarra {
    color: white;
    opacity: 0.6;
}

@media screen and (min-width:750px) {
    .btnHamburguesa, .btnHamburguesaSinMain, .divBtnHamburguesa {
        display: none;
    }
    .nav {
        background-color: black;
        padding: 18px;
        display: flex;
        flex-direction: row; 
        gap: 20px;
        position: fixed;
        top: 0px;
        width: 100%;
        transition: top 0.5s ease;
        justify-content: center;
        border-bottom: none; 
    }
    .navSinMain {
        background-color: white;
    }
    .barraBlack {
        color: black;
        opacity: 1;
    }
}